@page
@model Final_Project.Pages.Dwellings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Dwelling Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Dwelling.Address)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Agent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dwelling.Agent.FirstName) @Html.DisplayFor(model => model.Dwelling.Agent.LastName) | <a href="/Agents/Details?id=@Html.DisplayFor(model => model.Dwelling.Agent.AgentId)">View Agent Profile</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dwelling.Price)
        </dt>
        <dd class="col-sm-10">
           $@Html.DisplayFor(model => model.Dwelling.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dwelling.DwellingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
