@page
@model Final_Project.Pages.SalesOffices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Sales Office Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.SalesOffice.SalesOfficeName), @Html.DisplayFor(model => model.SalesOffice.City.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOffice.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesOffice.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOffice.SalesOfficeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesOffice.SalesOfficeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOffice.numAgents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesOffice.numAgents)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="badge badge badge-danger">Properties Managed: </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SalesOffice.Agents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
            </tr>
        }
    </tbody>

</table>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SalesOffice.SalesOfficeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
